/* Universal border for entire webpage */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Creates white background color for body section */
body {
    background-color: #d9dcd6;
}

/* Header fond family and styling aspects */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Header h1 subset font size  */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Header h1 text for "seo" to be a different color */
.header h1 .seo {
    color: #d9dcd6;
}

/* Header nav section font and size parameters */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Header nav unordered list style type */
.header nav ul {
    list-style-type: none;
}

/* Header nav ul listed items placing */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* linked items color */
a {
    color: #ffffff;
    text-decoration: none;
}

/* font size for paragraph set items */
p {
    font-size: 16px;
}

/* Meeting image dimesions and link to image */
.meeting-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Parameters for the content section and dimesions */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Parameters for the search engine optimization subsection */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Setting the max height for the image in the search image optimization section */
.search-engine-optimization img {
    max-height: 200px;
}

/* Margin and font size for the h2 section in search engine optimization */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Setting the values and position for the command "float left" */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Section online reputation management parameters and font styling and color scheme */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Online reputation management image size restrictions */
.online-reputation-management img {
    max-height: 200px;
}

/* Online reputation management h2 size set and magin spacing */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Setting the values for the float right class */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Setting the box dimensions for the social media marketing section */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Setting the max height for the social media marketing image */
.social-media-marketing img {
    max-height: 200px;
}

/* Setting the font size and margin limits for the h2 value in the social media marketing section */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Benefits section placement and stlying settings */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Setting the image placement and margin setting for the "lead" image */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Setting the color and font size for the "lead" section in benefits */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Setting the h3 alignment and text size in the benefits section */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Setting the image parameters for the "brand" image */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Setting the "brand" text margin size and color */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Setting the text size and alignment for the h3 value in "brand" */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Setting the benefit "cost" image parameters */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Setting the "cost" margin values and the color scheme */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Setting the "cost" margin values and alignment for the h3 value */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Creating the footer, padding, alignment and font stlying */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Setting the footer h2 font size value */
.footer h2 {
    font-size: 20px;
}